body {
  background-color: #ffffff;
}

.fit {
  position: absolute;
  left: 62%;
  width: 37vw;
  height: 100vh;
  overflow: hidden;
}

.btn1 {
  position: absolute;
  width: 172px;
  height: 48px;
  left: 4.5%;
  top: 350px;
  border: 0px;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 750;
  font-size: 20px;
  line-height: 48px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform .2s;
}
.btn1:hover {
  transform: scale(1.1); 
}


.btn2 {
  position: absolute;
  width: 172px;
  height: 48px;
  right: 0;
  top: 20px;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 750;
  font-size: 20px;
  line-height: 45px;
  border-radius: 10px;
  color: black;
  border: 0px;
  background-color: transparent;

  transition: color 0.2s, text-decoration 0.2s;
}

.btn2:hover {
  color: purple;
  text-decoration: underline;
}

.app-nam {
  position: absolute;
  width: 26vh;
  height: 58px;
  left: 50px;
  top: -10px;
  text-shadow: 1px 0px #e3b706;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 36px;
  /* identical to box height */

  color: #e3b706  ;
}

.tag1 {
  position: fixed;
  left: 4.08%;
  right: 7.08%;
  top: 28%;
  bottom: 71.19%;
  font-family: "Trebuchet MS";
  text-shadow: -1px 1px 2px #e3b706, 1px 1px 2px #e3b706, 1px -1px 0 #e3b706,
    -1px -1px 0 #e3b706;
  font-style: normal;
  font-weight: 750;
  font-size: 30px;
  line-height: 154px;
  /* identical to box height */

  color: #ffffff;
}

.bld {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: -275px;
}
